{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME-PAGE</title>
</head>
<body>
<div class="col-12" align='center'>
    <h1>HOME-PAGE</h1>
    <div class="home">
        <img src="{% static 'enroll/image/home.png' %}"  width="360" height="400">

    </div>
    <button type="button"><a href="{% url 'login' %}">LOG-IN</a></button>
    <button type="button"><a href="{% url 'signup'  %}">SIGN-UP</a></button>
</div>    
</body>
</html>